{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to CDBProm v2.0</h1>
<main class="ml-64 p-4 bg-light min-vh-100">
    <div class="mb-4">
        
        <p class="lead">
            <strong>The Comprehensive Directory of Bacterial Promoters.</strong><br><br>
            CDBProm is a platform that contains bacterial promoters and a calibrated predictive framework. <br>
            You can query the database for promoters of specific bacterial species and run our prediction tool in your own data.
        </p>
    </div>


    <div class="row mb-4">

        <div class="col-md-6 mb-3">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Query Database</h5>
                    <p class="card-text flex-grow-1">
                        Search and explore promoter sequences by species or functional annotation.
                    </p>
                    <a href="{% url 'query' %}" class="btn btn-primary mt-3">Query CDBProm</a>
                </div>
            </div>
        </div>



            <div class="col-md-6 mb-3">
                <div class="card h-100 shadow-sm">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Predict</h5>
                        <p class="card-text flex-grow-1">
                            Submit sequences to our predictive framework to analyze promoter activity and classification.
                        </p>
                        <a href="{% url 'predict' %}" class="btn btn-primary mt-3">Predict</a>
                    </div>
                </div>
            </div>
</main>

{% endblock %}